# Copy these keys into your .env and fill courier login credentials
# Package: https://github.com/AbiruzzamanMolla/Fraud-Checker-BD-Courier-Laravel

PATHAO_USER=
PATHAO_PASSWORD=
STEADFAST_USER=
STEADFAST_PASSWORD=
REDX_PHONE=
REDX_PASSWORD=
PAPERFLY_USER=
PAPERFLY_PASSWORD=
CARRYBEE_PHONE=
CARRYBEE_PASSWORD=
